- apiVersion: v1
  kind: LimitRange
  metadata:
    name: ${NS_NAME}-limits
    namespace: ${NS_NAME}
  spec:
    limits:
      - type: Container
        default:
          cpu: "2"
          memory: 4Gi
        defaultRequest:
          cpu: "1"
          memory: 2Gi
