- apiVersion: v1
  kind: ResourceQuota
  metadata:
    name: ${NS_NAME}-quota
    namespace: ${NS_NAME}
  spec:
    hard:
      requests.cpu: "1"
      limits.cpu: "2"
      requests.memory: 2Gi
      limits.memory: 4Gi
      pods: "40"
