- apiVersion: v1
  kind: LimitRange
  metadata:
    name: ${NS_NAME}-limits
    namespace: ${NS_NAME}
    labels:
      baseline.kratix.io/version: ${BASELINE_VERSION}
      baseline.kratix.io/size: ${BASELINE_SIZE}
    annotations:
      baseline.kratix.io/version: ${BASELINE_VERSION}
      baseline.kratix.io/size: ${BASELINE_SIZE}
  spec:
    limits:
      - type: Container
        default:
          cpu: "4"
          memory: 8Gi
        defaultRequest:
          cpu: "2"
          memory: 4Gi
