apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: ${NS_NAME}-admin
  namespace: ${NS_NAME}
  labels:
    project: ${PROJECT}
    team: ${TEAM}
    environment: ${ENV}
    baseline.kratix.io/version: ${BASELINE_VERSION}
    baseline.kratix.io/size: ${ACCESS_LEVEL}
  annotations:
    baseline.kratix.io/version: ${BASELINE_VERSION}
    baseline.kratix.io/size: ${ACCESS_LEVEL}
rules:
  - apiGroups: ["*", ""]
    resources: ["*"]
    verbs: ["*"]
