- apiVersion: v1
  kind: ResourceQuota
  metadata:
    name: ${NS_NAME}-quota
    namespace: ${NS_NAME}
    labels:
      baseline.kratix.io/version: ${BASELINE_VERSION}
      baseline.kratix.io/size: ${BASELINE_SIZE}
    annotations:
      baseline.kratix.io/version: ${BASELINE_VERSION}
      baseline.kratix.io/size: ${BASELINE_SIZE}
  spec:
    hard:
      requests.cpu: 250m
      limits.cpu: 500m
      requests.memory: 512Mi
      limits.memory: 1Gi
      pods: "10"
