- apiVersion: v1
  kind: LimitRange
  metadata:
    name: ${NS_NAME}-limits
    annotations:
      baseline.kratix.io/version: ${BASELINE_VERSION}
      baseline.kratix.io/size: ${BASELINE_SIZE}
    namespace: ${NS_NAME}
  spec:
    limits:
      - type: Container
        default:
          cpu: "1"
          memory: 2Gi
        defaultRequest:
          cpu: 500m
          memory: 1Gi
